/* Reset */
*{
    margin: 0;
    padding: 0;
   
}
/*Visual Aid For Devoloping */
*{
    /* border: 1px black solid; */
    
}
.body div:nth-child(even)  {
 background-color: rgb(174, 174, 175);
}
.body div:nth-child(odd){
background-color: rgb(61, 61, 61);
 }

section:nth-child(even) {
 background-color: rgb(132, 132, 161);
}
section:nth-child(odd) {
    background-color: rgb(204, 157, 223);
   }
/*Page Sizing  */
body{
    width: 100vw;
    height: 100vh;
}
.container{
    width: 100%;
    height: 100%;
}
/*Primary Containers  */
.header-container{
    height: 40px;
}

.main-container,  .gallery-container, .price-container, .contact-container  {
height: 600px;
border: 1px black solid;
}
/* Secondary Containers */
.logo-container, .nav-container, .intro-container, .slider-container, .price-info-container, .contact-info-container, .contact-form-container{
    border: 1px black solid;
}

.logo-container{
    width: 8%;
}
/* Tetrarary Containers */
.bridal-item-container{
    border: 1px black solid;
}
/* Main Container & Sub Container Class Styles */
.background-img{
    height: 100%;
    width: 80%;
    position: relative;
    left: 9%;
}

.intro-container{
    width: 42%;
    position: relative;
    bottom: 80%;
    left: 26%;
    text-align: center;
    /* tempory style for designing */
    background-color: transparent;
}
/* Gallery Styles */
.slider-container{
    width: 80%;
    height: 80%;
}
.bridal-item-container {
    width: 29%;
    height: 70%;
}