/* Reset */
*{
    margin: 0;
    padding: 0;
   
}
/*Visual Aid For Devoloping */
*{
    /* border: 1px black solid; */
    
}

/*Page Sizing  */
body{
    width: 100vw;
    height: 100vh;
}
.container{
    width: 100%;
    height: 100%;
}
/*Primary Containers  */
.header-container{
    height: 40px;
}

.main-container,  .gallery-container, .price-container, .contact-container  {
height: 600px;
border: 1px black solid;
}
/* Secondary Containers */
.logo-container, .nav-container, .intro-container, .slider-container, .price-info-container, .contact-info-container, .contact-form-container{
    border: 1px black solid;
}

.logo-container{
    width: 8%;
}
/* Tetrarary Containers */
.bridal-item-container{
    border: 1px black solid;
}
/* Nav Container Styles */
.nav-container{
    background-color: #ffdae0;
    height: 1800%;
    width: 13%;
    position: fixed;
    top: 0px;
    /* temporary style */
    z-index: 1000;
}
/* Main Container & Sub Container Class Styles */
.background-img{
    height: 100%;
    width: 80%;
    position: relative;
    left: 9%;
    /* test style for new layout */
    width: 86.2%;
    left: 12.9%;
}

.intro-container{
    width: 42%;
    position: relative;
    bottom: 80%;
    left: 26%;
    /* test style for new layout */ left: 33%;
    text-align: center;
    color: #f6e9a3;
    /* tempory style for designing */
    background-color: transparent;
}
.company-name{
    font-size: 486%;
}
.intro{
    font-size: 200%;
}
.intro-container p {
    font-size: 180%;
}
.call-action{
    width: 40%;
    font-size: 216%;
    margin-top: 5%;
}
/* Gallery Styles */
.slider-container{
    width: 80%;
    height: 80%;
}
.bridal-item-container {
    width: 29%;
    height: 70%;
}